@charset "utf-8";
/* 申明字符编码 */

* {
  margin: 0;
  /* 外边距设置为0 */
  padding: 0;
  /* 内边距设为0 */
}

/* 设置主体 */
body {
  display: flex;
  /* 设置弹性布局 */
  flex-direction: column;
  /* 将主轴方向设置为垂直 */
  justify-content: center;
  /* 主轴上居中对齐 */
  align-items: center;
  /* 交叉轴上居中对齐 */
  height: 100vh;
  /* 设置高度，1vh=浏览器的1%，100vh就刚好是浏览器的一个页面 */
  /*background: url(./bj.png) no-repeat;
  /* no-repeat表示只显示一次 */
  /* background-size: cover;
  /设置为覆盖*/
}

#backgroud {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#div1 {
  border-radius: 50px;
  /* 设置圆角 */
  display: flex;
  /* 设置弹性布局 */
  flex-direction: column;
  /* 将主轴方向设置为垂直 */
  justify-content: center;
  /* 主轴上居中对齐 */
  align-items: center;
  /* 交叉轴上居中对齐 */
  width: 640px;
  /* 设置宽为320个像素点 */
  height: 560px;
  /* 设置高为280个像素点 */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  /* 设置顶部为直线且宽为1px */
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* 左 */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /* 下 ，rgba中最后的那个数表示透明度*/
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  /* 右 */
  backdrop-filter: blur(10px);
  /* 设置模糊效果，10px就是10个像素点的模糊 */
  background: rgba(212, 164, 251, 0.2);
  /* 背景颜色设置 */
}

#div1>h2 {
  color: rgba(255, 255, 255, 0.7);
  /* 设置颜色 */
  margin-bottom: 40px;
  /* 给底部增加外边距为20个像素点 */
}

#div1 .div2 {
  display: flex;
  /* 设置弹性布局 */
  flex-direction: column;
  /* 将主轴方向设置为垂直 */
  justify-content: center;
  /* 主轴上居中对齐 */
  align-items: start;
  /* 交叉轴上启始方向对齐 */
  margin-bottom: 20px;
  /* 给底部增加外边距为10个像素点 */
}

#div1 .div2>label {
  margin-bottom: 20px;
  /* 给底部增加外边距为10个像素点 */
  color: rgba(255, 255, 255, 0.9);
  /* 颜色 */
  font-size: 26px;
  /* 字体大小 */
}

#div1 .div2>input {
  box-sizing: border-div1;
  /* 设置输入框大小，border-div1计算时包含内外边框，content-div1是默认值，其计算时不包含内外边框 */
  color: rgba(255, 255, 255, 0.9);
  /* 设置输入字体颜色 */
  font-size: 36px;
  /* 设置输入字体大小 */
  height: 70px;
  /* 设置输入框高 */
  width: 500px;
  /* 设置输入框宽 */
  background: rgba(255, 255, 255, 0.3);
  /* 输入框内部颜色 */
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* 输入框边框颜色 */
  border-radius: 20px;
  /* 设置圆角 */
  transition: 0.2s;
  /* 过渡时间为0.2秒 */
  outline: none;
  /* 去掉下划线 */
  padding: 0 20px;
  /* 内边距，1个值x表示上下左右均为x个px，两个值下，y则表示上下为x个px，y个px，若为四个，则分别表示上下左右 */
  letter-spacing: 2px;
  /* 设置输入字体间距为1个px */
}

#div1 .div2>input:focus {
  border: 1px solid rgba(211, 13, 208, 0.783);
  /* 设置选择时输入框的颜色 */
}

#div1 .div3 {
  width: 500px;
  /* 设置宽度 */
  display: flex;
  /* 设置弹性布局 */
  flex-direction: column;
  /* 将主轴方向设置为垂直 */
  justify-content: center;
  /* 主轴上居中对齐 */
  align-items: start;
  /* 交叉轴上启始方向对齐 */
}

/* 设置忘记密码 */
#div1 .div3>a {
  font-size: 28px;
  /* 字体大小 */
  text-decoration: none;
  /* 去掉下划线 */
  color: rgba(255, 255, 255, 0.9);
  /* 设置字体颜色 */
  transition: 0.2s;
  /* 过渡时间为0.2秒 */
  width: 500px;
  /* 设置宽度->以便在下一步使它靠右 */
  text-align: end;
  /* 使其右边对齐右下角 */
}

#div1 .div3>a:hover {
  /* hover的用法 */
  color: rgb(244, 11, 174);
  /* 设置选择时字体颜色 */
}

#div1 .div3>div {
  display: flex;
  flex-direction: row;
  /* 将主轴方向设置为水平 */
  justify-content: center;
  align-items: start;
  margin-top: 40px;
  /* 设置顶部边距 */
}

/* 设置登陆和注册的大小和颜色 */
#div1 .div3>div>button {
  width: 240px;
  /* 按钮宽 */
  height: 70px;
  /* 按钮高 */
  border: 1px solid rgba(248, 191, 254);
  /* 边框颜色 */
  background: rgba(214, 188, 255);
  /* 按钮背景颜色 */
  color: rgba(255, 255, 255, 0.9);
  /* 字体颜色 */
  border-radius: 20px;
  /* 圆角 */
  transition: 0.2s;
  /* 过渡时间 */
}

/* 设置间距 */
#div1 .div3>div>button:nth-of-type(2) {
  /* button:nth-of-type(2)表示选择button中的第2个，即x:nth-of-type(n)用法：x类的第n个元素 */
  margin-left: 20px;
  /* 间距为10个px */
}

/* 设置鼠标移动到位置时变色 */
#div1 .div3>div>button:hover {
  border: 1px solid rgba(248, 191, 254, 0.8);
  /* 边框 */
  background: rgba(248, 191, 254, 0.5);
  /* 背景 */
}