* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

.bg {
    background-image: url(../box/甘雨.jpg);
    /* 对图片进行剪切，保留原始比例 */
    background-size: cover;
    /* 设置背景图片的定位 */
    background-position: 50% 50%;
    height: 200vh;
    font-size: 250px;
    font-weight: 800;
    text-align: center;
    /* 相对定位 */
    position: relative;
    /* 以区块内的文字作为裁剪区域向外裁剪，文字的背景即为区块的背景，文字之外的区域都将被裁剪掉 */
    -webkit-background-clip: text;
    /* 将文字透明镂空 */
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    padding-top: 300px;
}

.bg::before {
    content: "";
    /* 背景图片继承父元素 */
    background-image: inherit;
    background-size: cover;
    background-position: 70% 50%;
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -99;
}

h1 {
    border-radius: 50px;
    position: absolute;
    top: 145vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    color: #fff;
    letter-spacing: 10px;
    padding: 100px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

p {
    margin-top: 40px;
    font-size: 15px;
}

.next>a {
    border-radius: 50px;
    position: absolute;
    top: 200vh;
    left: 50%;
    transform: translateX(-50%);
    width: 14vh;
    font-size: 28px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 10px;
    padding: 0 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.next>a:hover {
    color: rgba(254, 237, 229, 0.7);
}